.icons {
  transition: ease 0.7s;
}

.icons:hover {
  background-color: whitesmoke;
  color: rgb(255, 175, 27);
  transform: scale(1.2);
  transition: ease 0.1s;
}

.menuLink a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.menuLink a:hover {
  cursor: pointer;
  color: rgb(255, 175, 27);
}
